<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sprint.title %>
</p>

<p>
  <strong>State:</strong>
  <%= @sprint.state %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
